/* Global styling for the app container */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // This helps push the footer to the bottom
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #f0f0f0 0%, #ffffff 100%);
  min-height: 90vh; // Ensures the container takes at least the height of the viewport
  animation: fadeIn 1s ease-out;
}



/* Main container adjustments */
main {
  width: 100%;
  max-width: 1200px;
  align-self: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex: 1; // Important: This ensures that the main content area expands to take available space, pushing the footer downwards
  overflow: hidden;
  margin-bottom: 30px;

}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
