.app-header {
  background-image: linear-gradient(to right, #006f9acc, #f0f0f075);
  color: white;
  padding: 8px 20px; /* Reduced padding for a slimmer header */
  margin-bottom: 20px; /* Smaller bottom margin */
  box-shadow: 0 4px 4px rgba(0,0,0,0.2); /* Lighter shadow for a less bulky look */
  border-radius: 20px; /* Smaller radius for a subtler curve */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
}

.app-header i {
  margin-bottom: 5px;
  margin-right: 20px; /* Less space on the sides of the icon */
  margin-left: 30px;
  font-size: 36px; /* Smaller icon size */
}

.app-header h1 {
  margin: 0;
  flex-grow: 1;
  font-weight: 500;
  font-size: 24px; /* Smaller font size for the title */
}

.app-header .rsm-text {
  margin-right:40px;
  font-family: 'Playwrite BE VLG', 'Playwrite CL', sans-serif;
  font-weight: 460;
  font-size: 24px; /* Smaller font size for supplementary text */
}

.app-header .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px; /* Less padding inside the container */
  border-radius: 15%; /* Subtle adjustment to border radius */
  margin-right: 15px; /* Reduced margin to the right */
}

.app-header .icon-container i {
  font-size: 24px; /* Reduced icon size in the icon container */
}
