.scrollable-container {
  max-height: 240px; // Adjust to fit the height of 5 rows
  overflow-y: auto; // Enables vertical scrolling when content exceeds the set max-height
  margin: 20px 0;
}

.flex-row-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}

.components-container {
  display: flex;
  padding-left: 30px;
}

.mat-form-field {
  width: 300px;
}

.add-product-btn {
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 28px 25px;
  font-size: 1.25rem;
  border-radius: 20px;
}

.products-table {
  width: 100%;
  margin-top: 10px;

  th, td {
    padding: 8px;
    text-align: left;
  }

  th.mat-header-cell {
    &:last-child {
      text-align: right;
    }
  }

  td.mat-cell {
    &:last-child {
      text-align: right;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.no-products {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #666;
}

.mat-icon-button {
  margin: 0 5px;
}

tr.mat-row:hover {
  background-color: #f4f4f8;
  cursor: pointer;
}

mat-icon {
  vertical-align: middle;
}

@media (max-width: 600px) {
  .flex-row-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .add-product-btn {
    width: 100%;
    padding: 15px 30px;
    font-size: 1.25rem;
    margin-top: 10px;
  }
}
