.flex-row-container {
  display: flex;
  justify-content: flex-end; // Aligns children to the right of the container
  align-items: center; // Centers items vertically
  margin: 20px; // Adds margin around the container
}

.components-container {
  display: flex;
  padding-left: 30px;
}

.mat-form-field {
  width: 300px; // Sets a fixed width for the search field
}

.add-product-btn {
  margin-left: 10px; // Adds some space between the search input and the button
  margin-bottom: 20px;
  padding: 28px 25px; // Significantly increases padding for a larger button appearance
  font-size: 1.25rem; // Larger font size for the button text
  border-radius: 20px; // Optional: Adds a slight border-radius for aesthetic purposes
}

.products-table {
  width: 100%;
  margin-top: 10px;

  th, td {
    padding: 8px;
    text-align: left;
  }

  th.mat-header-cell {
    &:last-child {
      text-align: right;
    }
  }

  td.mat-cell {
    &:last-child {
      text-align: right;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.no-products {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #666;
}

.mat-icon-button {
  margin: 0 5px;
}

tr.mat-row:hover {
  background-color: #f4f4f8;
  cursor: pointer;
}

mat-icon {
  vertical-align: middle;
}

@media (max-width: 600px) {
  .flex-row-container {
    flex-direction: column;
    align-items: center;
    justify-content: center; // Center items vertically and horizontally on small screens
  }
  .add-product-btn {
    width: 100%;
    padding: 15px 30px; // Consistent padding with the larger screens
    font-size: 1.25rem; // Consistent font size with the larger screens
    margin-top: 10px;
  }
}
